.main-title {
    border: 4px solid green;
}

#traditions-section {
    border: 4px solid red;
}

/* .button{
    border: 4px solid green;
}

.button[disabled] {
    border: 4px solid red;
} */

.chefs-section>h2 {
    color: blue;
}

.button {
    color: #FAF4EA;
    background-color: #819B57;
    border: 2px solid #819B57;
    border-radius: 8px;
    cursor: pointer;
}
.button:hover{
    color: #465929;
    background-color: transparent;
}

.button:focus{
    background-color: violet;
}

.button:active {
    background-color: red;
}